altgraph==0.17.4
certifi==2024.2.2
charset-normalizer==3.3.2
click==8.1.7
console_progressbar==1.1.2
decorator==4.4.2
idna==3.6
imageio==2.34.0
imageio-ffmpeg==0.4.9
moviepy==1.0.3
numpy==1.26.4
packaging==23.2
pillow==10.2.0
proglog==0.1.10
pygame==2.5.2
pyinstaller==6.4.0
pyinstaller-hooks-contrib==2024.1
requests==2.31.0
tqdm==4.66.2
urllib3==2.2.0
